# Load Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
%cd drive/MyDrive/GitHub/master-thesis

/content/drive/MyDrive/GitHub/master-thesis

In [4]:
df_survey_dk = pd.read_csv('data/raw/rawcontacts_MSc_Thesis.csv', sep=';', thousands='.', decimal=',', encoding='utf-8')
df_survey_dk.head(3)

,koen,Alder,postnr,region,udsendt,Timings_yyyymmdd,Timings_dateFirstEntry,Timings_dateLastEntry,Timings_dateFinish,Timings_timeTotalMinutes,...,Q2020NovNy2,Q2020NovNy3,Q2020NovNy4,Q2021FebNy1,Q10,Q11,Q12,Q14,Q15,Q16
0,Mand,70 �r +,2830,Hovedstaden,20210102,20210103,03-jan-21,03-jan-21,03-jan-21,8.0,...,Nej,Nej,NaN,NaN,Ph.D og forskeruddanelser,1 person,Jeg har ingen hjemmeboende b�rn,Pensionist eller efterl�nsmodtager,V: Venstre,C: Konservative
1,Kvinde,60-69 �r,4654,Sj�lland,20200717,20200731,31-jul-20,31-jul-20,31-jul-20,8.0,...,NaN,NaN,NaN,NaN,"Erhvervsfaglig uddannelse (fx t�mrer, fris�r e...",1 person,Jeg har ingen hjemmeboende b�rn,Pensionist eller efterl�nsmodtager,V: Venstre,A: Socialdemokratiet
2,Kvinde,60-69 �r,7451,Midtjylland,20210604,20210605,05-jun-21,05-jun-21,05-jun-21,9.0,...,"Ja, jeg er blevet testet negativ",Nej,NaN,Jeg er p�begyndt vaccinationen dvs. modtaget 1...,Korte videreg�ende (fx laborant eller datamati...,1 person,Jeg har ingen hjemmeboende b�rn,Pensionist eller efterl�nsmodtager,Vil ikke svare,Vil ikke svare

In [5]:
df_survey_dk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125301 entries, 0 to 125300
Data columns (total 65 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   koen                      125301 non-null  object
 1   Alder                     125301 non-null  object
 2   postnr                    125301 non-null  int64
 3   region                    125301 non-null  object
 4   udsendt                   125301 non-null  int64
 5   Timings_yyyymmdd          125301 non-null  int64
 6   Timings_dateFirstEntry    125301 non-null  object
 7   Timings_dateLastEntry     125301 non-null  object
 8   Timings_dateFinish        125301 non-null  object
 9   Timings_timeTotalMinutes  125264 non-null  float64
 10  Q1_1                      117577 non-null  float64
 11  Q1_2                      121638 non-null  float64
 12  Q2_1                      124783 non-null  float64
 13  Q2_2                      124378 non-null  float64
 14  Q2_3                      123400 non-null  float64
 15  Q2_4                      124479 non-null  float64
 16  Q2_5                      123354 non-null  float64
 17  Q2_6                      123558 non-null  float64
 18  Q3_1                      125085 non-null  float64
 19  Q3_2                      124643 non-null  float64
 20  Q3_3                      124117 non-null  float64
 21  Q3_4                      122568 non-null  float64
 22  Q3_5                      124847 non-null  float64
 23  Q3_6                      124240 non-null  float64
 24  Q3_7                      124262 non-null  float64
 25  Q3b_1                     119069 non-null  object
 26  Q4a_1                     125301 non-null  int64
 27  Q4a_2                     125301 non-null  int64
 28  Q4a_3                     125301 non-null  int64
 29  Q4a_4                     125301 non-null  int64
 30  Q4b_1                     125301 non-null  int64
 31  Q4b_2                     125301 non-null  int64
 32  Q4b_3                     125301 non-null  int64
 33  Q4b_4                     125301 non-null  int64
 34  Q5_1                      114120 non-null  float64
 35  Q5_2                      112799 non-null  float64
 36  Q5_3                      111231 non-null  float64
 37  Q5_4                      122415 non-null  float64
 38  Q5_5                      119862 non-null  float64
 39  Q6_1                      116194 non-null  float64
 40  Q6_2                      123947 non-null  float64
 41  Q6_3                      122408 non-null  float64
 42  Q6_4                      110419 non-null  float64
 43  Q6_5                      122651 non-null  float64
 44  Q6_6                      123388 non-null  float64
 45  Q6_7                      124372 non-null  float64
 46  Q6_8                      115303 non-null  float64
 47  Q6_9                      122283 non-null  float64
 48  Ny1                       107263 non-null  object
 49  Q7_1                      125301 non-null  object
 50  Q7_2                      125301 non-null  object
 51  Q7_3                      125301 non-null  object
 52  Q7_4                      125301 non-null  object
 53  Q7_5                      125301 non-null  object
 54  Q2020NovNy1               75581 non-null   object
 55  Q2020NovNy2               75581 non-null   object
 56  Q2020NovNy3               75581 non-null   object
 57  Q2020NovNy4               1686 non-null    object
 58  Q2021FebNy1               47970 non-null   object
 59  Q10                       125301 non-null  object
 60  Q11                       125301 non-null  object
 61  Q12                       125301 non-null  object
 62  Q14                       125301 non-null  object
 63  Q15                       125301 non-null  object
 64  Q16                       125301 non-null  object
dtypes: float64(30), int64(11), object(24)
memory usage: 62.1+ MB

In [6]:
df_survey_dk.describe()

,postnr,udsendt,Timings_yyyymmdd,Timings_timeTotalMinutes,Q1_1,Q1_2,Q2_1,Q2_2,Q2_3,Q2_4,...,Q5_5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6,Q6_7,Q6_8,Q6_9
count,125301.000000,1.253010e+05,1.253010e+05,125264.000000,117577.000000,121638.000000,124783.000000,124378.000000,123400.000000,124479.000000,...,119862.000000,116194.000000,123947.000000,122408.000000,110419.000000,122651.000000,123388.000000,124372.000000,115303.000000,122283.000000
mean,5632.891469,2.020548e+07,2.020557e+07,458.988624,3.112386,4.797497,5.461225,5.983076,5.425924,6.031226,...,2.678313,3.257664,5.876294,4.522147,4.423659,5.613913,5.272757,4.220090,5.081854,5.027436
std,2502.338012,4.830591e+03,4.831117e+03,3410.661382,1.851574,1.795780,1.688539,1.623372,1.696053,1.613938,...,2.066434,1.856363,1.491222,1.574123,1.681356,1.591081,1.772307,1.950618,1.637140,1.857981
min,1050.000000,2.020053e+07,2.020053e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3000.000000,2.020083e+07,2.020090e+07,7.000000,1.000000,3.000000,5.000000,6.000000,4.000000,6.000000,...,1.000000,1.000000,5.000000,4.000000,4.000000,5.000000,4.000000,3.000000,4.000000,4.000000
50%,5500.000000,2.020122e+07,2.020122e+07,9.000000,3.000000,5.000000,6.000000,7.000000,6.000000,7.000000,...,2.000000,3.000000,6.000000,5.000000,4.000000,6.000000,6.000000,4.000000,5.000000,5.000000
75%,8200.000000,2.021051e+07,2.021051e+07,13.000000,4.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,4.000000,4.000000,7.000000,6.000000,6.000000,7.000000,7.000000,6.000000,7.000000,7.000000
max,9990.000000,2.021120e+07,2.021120e+07,98773.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

# Translation from danish to english

## General Translation

In [7]:
df_survey_eng = df_survey_dk.copy()
df_survey_eng.rename(columns={'koen': 'gender', 'Alder': 'age'}, inplace=True)
df_survey_eng['gender'].replace(to_replace=['Mand', 'Kvinde'], value=['Man', 'Woman'], inplace=True)
df_survey_eng['age'] = df_survey_eng['age'].str.replace(' �r', '')
df_survey_eng['region'].replace(to_replace=['Hovedstaden', 'Sj�lland', 'Midtjylland', 'Syddanmark', 'Nordjylland'],
                            value=['Capital', 'Zealand', 'Central', 'Southern', 'Northern'], inplace=True)
df_survey_eng.replace(to_replace=['Nej', 'Ja', 'Ved ikke', 'Ved ikke / �nsker ikke at svare', '�nsker ikke at svare'], value=['no', 'yes', 'dont know', 'dont know/dont want to answer', 'dont want to answer'], inplace=True)
df_survey_eng.head()

,gender,age,postnr,region,udsendt,Timings_yyyymmdd,Timings_dateFirstEntry,Timings_dateLastEntry,Timings_dateFinish,Timings_timeTotalMinutes,...,Q2020NovNy2,Q2020NovNy3,Q2020NovNy4,Q2021FebNy1,Q10,Q11,Q12,Q14,Q15,Q16
0,Man,70 +,2830,Capital,20210102,20210103,03-jan-21,03-jan-21,03-jan-21,8.0,...,no,no,NaN,NaN,Ph.D og forskeruddanelser,1 person,Jeg har ingen hjemmeboende b�rn,Pensionist eller efterl�nsmodtager,V: Venstre,C: Konservative
1,Woman,60-69,4654,Zealand,20200717,20200731,31-jul-20,31-jul-20,31-jul-20,8.0,...,NaN,NaN,NaN,NaN,"Erhvervsfaglig uddannelse (fx t�mrer, fris�r e...",1 person,Jeg har ingen hjemmeboende b�rn,Pensionist eller efterl�nsmodtager,V: Venstre,A: Socialdemokratiet
2,Woman,60-69,7451,Central,20210604,20210605,05-jun-21,05-jun-21,05-jun-21,9.0,...,"Ja, jeg er blevet testet negativ",no,NaN,Jeg er p�begyndt vaccinationen dvs. modtaget 1...,Korte videreg�ende (fx laborant eller datamati...,1 person,Jeg har ingen hjemmeboende b�rn,Pensionist eller efterl�nsmodtager,Vil ikke svare,Vil ikke svare
3,Woman,60-69,6740,Southern,20200822,20200826,26-aug-20,26-aug-20,26-aug-20,9.0,...,NaN,NaN,NaN,NaN,"Grundskole (folkeskole, privatskole, efterskole)",1 person,Jeg har ingen hjemmeboende b�rn,Pensionist eller efterl�nsmodtager,Vil ikke svare,Vil ikke svare
4,Man,60-69,4700,Zealand,20201105,20201106,06-nov-20,06-nov-20,06-nov-20,10.0,...,no,no,NaN,NaN,"Erhvervsfaglig uddannelse (fx t�mrer, fris�r e...",1 person,Jeg har ingen hjemmeboende b�rn,L�nmodtager i en privat virksomhed,Havde ikke stemmeret,Er ikke stemmeberettiget

## Translate Q10 - Q14

In [8]:
df_survey_eng['Q10'].replace(to_replace=['Ph.D og forskeruddanelser', 'Erhvervsfaglig uddannelse (fx t�mrer, fris�r eller kontorassistent)', 
                                   'Korte videreg�ende (fx laborant eller datamatiker)', 'Grundskole (folkeskole, privatskole, efterskole)',
                                   'Lang videreg�ende (fx gymnasiel�rer, �konom eller jurist)', 'Mellemlang videreg�ende (fx teknikum ingeni�r eller l�rer)',
                                   'Gymnasie (STX, HF, HHX , HTX og lign.)','Bachelor (fx 1. del af en lang videreg�ende uddannelse)'],
                       value=['Ph.D', 'Vocational training', 'Short higher education', 'Elementary school', 'Long higher education',
                              'Medium higher education','High school', 'Bachelor'], inplace=True)
df_survey_eng['Q11'].replace(to_replace=['1 person', '2 personer', '4 personer', '3 personer', '6 personer eller derover', '5 personer'], 
                       value=['1 person', '2 people', '4 people', '3 people', '6 people or more', '5 people'], inplace=True)
df_survey_eng['Q12'].replace(to_replace=['Jeg har ingen hjemmeboende b�rn', '1 barn', '2 b�rn', '3 b�rn', '5 b�rn', '4 b�rn', '6 b�rn eller derover'], 
                       value=['I have no children living at home', '1 child', '2 children', '3 children', '5 children', '4 children', '6 children or more'], inplace=True)
df_survey_eng['Q14'].replace(to_replace=['Pensionist eller efterl�nsmodtager', 'L�nmodtager i en privat virksomhed', 'Arbejdsl�s',
                                  'L�nmodtager i det offentlige (stat, kommune eller region)', 'Andet', 'Selvst�ndig', 'Under uddannelse'], 
                       value=['Pensioner or early retirement recipient', 'Employee in a private company', 'Unemployed',
                                  'Employee in the public sector (state, municipality or region)', 'Other', 'Self empoyed', 'Student'], inplace=True)

## Translate Q15 & Q16

In [9]:
party_names_danish = ['A: Socialdemokratiet', 'B: Radikale', 'C: Konservative', 'D: Nye Borgerlige', 'E: Klaus Riskj�r Pedersen', 'F: Socialistisk Folkeparti',
                      'I: Liberal Alliance', 'K: Kristendemokraterne', 'O: Dansk Folkeparti', 'P: Stram Kurs', 'V: Venstre', '�: Enhedslisten', '�: Alternativet']
party_names_english = ['A: Social Democrats', 'B: Danish Social Liberal Party', 'C: Conservative Peoples Party', 'D: The New Right', 'E: Klaus Riskjaer Pedersen', 'F: Socialist Peoples Party',
                      'I: Liberal Alliance', 'K: Christian Demokrats', 'O: Danish Peoples Party', 'P: Hard Line', 'V: Venstre', 'OE: Red-Green Alliance', 'Ao: The Alternative']
df_survey_eng.replace(to_replace=party_names_danish, value=party_names_english, inplace=True)

df_survey_eng.replace(to_replace=['Vil ikke svare', 'Havde ikke stemmeret', 'Stemte ikke', 'Stemte blankt', 'Andre partier/kandidat uden for partierne',
                              'Er ikke stemmeberettiget', 'I tvivl om partivalg', 'Vil ikke stemme', 'Vil stemme blankt'],
                         value=['Will not answer', 'Did not have right to vote', 'Did not vote', 'Voted blank', 'Other parties/candidate outside parties',
                                'Not eligible to vote', 'Unsure of party choice', 'Would not vote', 'Would vote blank'], inplace=True)

## Translate New Questions

In [10]:
df_survey_eng['Q2020NovNy2'].replace(to_replace=['Ja, jeg er blevet testet negativ', 'Ja, men jeg kender endnu ikke svaret', 'Ja, jeg er blevet testet positiv'],
                                     value=['Yes, I have been tested negative', 'Yes, but I do not yet know the answer', 'Yes, I have been tested positive'], inplace=True)# Q2020Ny2
df_survey_eng['Q2020NovNy4'].replace(to_replace=['I h�j grad', 'I nogen grad', 'I mindre grad', 'Slet ikke'],
                                     value=['To a high degree', 'Somewhat', 'To a lesser degree', 'Not at all' ], inplace=True)
df_survey_eng['Q2021FebNy1'].replace(to_replace=['Jeg er p�begyndt vaccinationen dvs. modtaget 1 af 2 vaccinedoser', 'Jeg er f�rdigvaccineret og har modtaget alle n�dvendige doser',
                                                 'Jeg er endnu ikke blevet tilbudt vaccination, men vil gerne vaccineres', 'Jeg er blevet tilbudt vaccination, men har endnu ikke modtaget 1. dose', 
                                                 'Jeg er blevet tilbudt vaccination, men har valgt ikke at tage imod den', 'Jeg er endnu ikke blevet tilbudt vaccination, og �nsker ikke at lade mig vaccin'],
                                     value=['I have started the vaccination, ie. received 1 of 2 vaccine doses', 'I have been vaccinated and have received all the necessary doses',
                                            'I have not yet been offered vaccination but would like to be vaccinated', 'I have been offered vaccination but have not yet received the 1st dose',
                                            'I have been offered vaccination but have chosen not to accept it', 'I have not yet been offered vaccination, and do not want to be vaccinated'], inplace=True)
df_survey_eng['Ny1'].replace(to_replace=['10 gange eller mere', 'Har ikke brugt ansigtsmaske', '1-3 gange', '7-9 gange', '4-6 gange'],
                                        value=['10 times or more', 'have not used face mask', '1-3 times', '7-9 times', '4-6 times'], inplace=True)

# Save as new .csv

In [11]:
df_survey_eng.to_csv('data/raw/rawcontacts_MSc_Thesis_eng.csv', sep=';', decimal=',', encoding='utf-8')